.box{
    height:100px;
    width: 100px;
    background-color:aqua;
    border : 5px solid blue;
    text-align: center;
    border-radius: 5px;
    font-weight: bolder;
    padding: 30px;
    
}
p{
    margin-top: 40px;
}

*{
    margin: 0;
    padding: 0;
}

#nav{
    height: 60px;
    background-color: black;
    color: white;
}



button{
    background-color: orange;
}

#four{
    color: orange;
    font-size: 25px;
}

#nav a{
    margin-right: 200px;
}